<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Chicago Crime Dashboard</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <!-- Our CSS -->
  <link rel="stylesheet" type="text/css" href="static/css/style.css">
</head>

<body>
  <div class="row">
    <div class="col-md-12 jumbotron text-center">
      <h1>Chicago Crime Dashboard</h1>
      <!-- <p>This dataset reflects reported incidents of crime (with the exception of murders where data exists for each victim) that occurred in the City of Chicago from 2011 to 2020</p> -->
    </div>
  </div>
  <div class="row">
    <div class="col-md-2">
      <div class="well">
        <h5>Year:</h5>
        <select id="selDataset_yr" onchange="optionChanged(this.value)">
          {% for year in Year %}
          <option value="{{year}}">{{year}}</option>
          {% endfor %}
        </select>
      </div>
    </div>
    <div class="col-md-4">
      <div class="well">
        <h5>Primary Type:</h5>
        <select id="selDataset_pt" onchange="optionChanged(this.value)">
          {% for type in Primary_Type %}
          <option value="{{type}}">{{type}}</option>
          {% endfor %}          
        </select>
      </div>
    </div>
    <div class="col-md-6">
      <div class="well">
        <h5>Secondary Type:</h5>
        <select id="selDataset_st" onchange="optionChanged(this.value)">
          {% for description in Description %}
          <option value="{{description}}">{{description}}</option>
          {% endfor %}
        </select>
      </div>
    </div>
  </div>
      
      <!-- <div class="panel panel-primary">
        <div class="panel-heading">
          <h3 class="panel-title">Demographic Info</h3>
        </div>
        <div id="sample-metadata" class="panel-body"></div>
      </div> -->
  <div class="row">
    <div class="col-md-12">
      <div id="bar1"></div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div id="bar2"></div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div id="line"></div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div id="map"></div>
    </div>
  </div>

  <!-- <div class="container">
    
    
  </div> -->

  <script src="https://d3js.org/d3.v5.min.js"></script>
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
  <script src="./static/js/app.js"></script>

  
</body>

</html>